<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="mt-4">
        <input type="text" class="form-control" style="width: 40%;" [(ngModel)]="filterString">
        <small>Filter using the status of server ( stable/offline )</small>
      </div>
    </div>

  </div>

  <h3 class="mt-4">App status: {{appStatus}}</h3>

  <button type="button" class="btn btn-primary" style="position: absolute; right: 13em;" (click)="onAddServer()">Add
    server</button>
  <br><br>
  <hr>

  <ul class="list-group" *ngFor="let server of servers | filter: filterString: 'status'">
    <li class="list-group-item">
      <b>{{ server.name | ShortenPipe: 15 }}</b> | {{ server.instanceType | uppercase }} |
      {{ server.started | date:'fullDate' | uppercase }}

      <button class="rounded" type="button" style="background-color: rgb(63, 14, 64);
         color: white ; right: 2em; position: absolute;">{{server.status}}</button>
    </li>
  </ul>

</div>